__pycache__/
xXx*
network_xXx*
sota/ExquisiteNetV2/cifar-10-batches-py
*.bmp
build/
tests/*/outputs
sota/Pointnet_Pointnet2_pytorch/models/llmge-models/
sota/Pointnet_Pointnet2_pytorch/results/
0/
1/
first_test/
data/
!sota/Titanic/data/
!/sota/FRED_LLM_GE/data/
/sota/FRED_LLM_GE/data/*
!/sota/FRED_LLM_GE/data/__init__.py
!/sota/FRED_LLM_GE/data/fred_stream.py
.DS_Store
mistralai
**/*.egg-info
output/
**/models/
**/weights/
**/results/
**/data_cache/
**/llmge_models/
slurm-*.out
*.pkl
*_temp_*
cifar10/
uv.lock
!/sota/FRED_LLM_GE/uv.lock
pareto_fronts
*/run_job_outputs
.venv/
venv/
*.pyc
*.pyo
.DS_Store
Thumbs.db
analysis/dashboard/uploads/
analysis/results/analysis/*
!analysis/results/analysis/.gitkeep
sota/ExquisiteNetV2/cifar-10-python
*.out
*.log
*.pt
*.pth
*.ckpt
*.bin
*.safetensors
*.pklanalysis/scripts/test.py
analysis/test_data/slurm/pkl/
run_metrics/
# Ignore top-level files in analysis/ except PIPELINE.md, README.md, and *.py
analysis/*
!analysis/PIPELINE.md
!analysis/README.md
!analysis/*.py
!analysis/*/
sota/ExquisiteNetV2/cifar-10-python/
*.code-workspace
mujoco_rl_output
previous_runs
run.sh 
server.sh
island_controller.sbatch
templates/**/mutant*.sh
src/mixt.sh 
hostname.log
